@font-face {
    src: url('https://fonts.googleapis.com/css?family=Roboto+Mono');
    font-family: 'Roboto Mono';
}

* {
    font-family: 'Roboto Mono', monospace;
}

html, body {
    overflow: hidden;
}

.app {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.playerTable {
    width: 100%;
    font-size: 1.25rem;
    position: relative;
    border-collapse: collapse;
}

.playerTableRow {
    position: relative;
}

.playerTableName {
    width: 1rem;
}

.playerTableBridge {
    background-color: #00000044;
    width: 0.125rem;
}

.playerTableDivisor {
    position: absolute;
    background-image: linear-gradient(to right, #CCCCCC00, #00CC0099, #CCCCCC00);
    z-index: 1;
    left: 3rem;
    width: 1rem;
    top: 0%;
    height: 100%;
    box-sizing: border-box;
}

.playerTableLastPlayed {
    position: absolute;
    top: 0%;
    background-color: white;
    left: 3rem;
}

.playerTableFrets {
    width: 0;
}

.playerFret {
    position: absolute;
    top: 0%;
    background-color: white;
}
