@font-face {
    src: url('https://fonts.googleapis.com/css?family=Roboto+Mono');
    font-family: 'Roboto Mono';
}

* {
    font-family: 'Roboto Mono', monospace;
}

html, body {
    
}

.app {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.bordered {
    border: 2px solid yellow;
}

.player {

}

.mainPlayer {
    background-color: rgb(250, 248, 217);
    border: 0.75em solid rgb(250, 248, 217);
    border-radius: 0.75em;
}

.playerTable {
    width: 100%;
    font-size: 1.25rem;
    position: relative;
    border-collapse: collapse;

    border: 0.125em solid black;
}

.playerTableColumn {
    border-bottom: 0.125em solid black;
    text-align: center;
}

.playerTableCellContainer {
    width: 1em;
    height: 100%;
}

.playerTableActive {
    background-color: rgba(0, 255, 0, 67);
    font-size: 2vw;
}

.playerTableInactive {
    color: gray;
    font-size: 2vw;
}

.playerTableString {
    width: 1em;
    padding: 0.25em;
    border: 0.125em solid black;
    font-size: 2vw;
}

.playerControls {
    width: 100%;
}

.playerControlsArrow {
    font-size: 1.5em;
    margin: 0.25em 0.25em 0 0;
}

.playerControlsButton {
    font-size: 1.5em;
    margin: 0.25em 0.25em;
}

.playerControlsArrows {
    float: right;
    font-size: 1.25vw;
}

.playerControlsButtons {
    float: left;
    font-size: 1.25vw;
}

.editorTextbox {
    font-size: 2vw;
    width: 2vw;
    text-align: center;
}

.editorTextboxActive {
    background-color: green;
}
