@font-face {
    src: url('https://fonts.googleapis.com/css?family=Roboto+Mono');
    font-family: 'Roboto Mono';
}

* {
    font-family: 'Roboto Mono', monospace;
}

.string {
    position: relative;
    width: 50em;
    background-color: white;
}

.stringText {
    position: absolute;
    top: 0;
    background-color: inherit;
}
